@charset "utf-8";
.banner-section {
  height: 9.375rem;
  padding-bottom: 0.5625rem;
  display: flex;
  align-items: flex-end;
  background-image: url(../img/banner.png);
  background-size: cover;
}
.banner-section .banner-subhead {
  display: flex;
  align-items: center;
  padding-left: 0.875rem;
  margin-bottom: 0.40625rem;
  font-size: 0;
}
.banner-section .banner-subhead:last-child {
  margin-bottom: 0;
}
.banner-section .banner-subhead .banner-subhead-icon {
  width: 0.625rem;
  height: 0.625rem;
  display: inline-block;
  margin-right: 0.15625rem;
}
.banner-section .banner-subhead .banner-subhead-text {
  display: inline-block;
  font-size: 0.4375rem;
  line-height: 0.546875rem;
  color: #ffffff;
  font-weight: 600;
  margin-left: 0.15625rem;
}
.banner-section .banner-subhead .banner-subhead-text.lines {
  font-size: 0.390625rem;
}
.need-section {
  position: relative;
  height: 8.90625rem;
  background-image: url(../img/need-background.png);
  background-size: cover;
  padding: 0.71875rem 0 0 2.65625rem;
}
.need-section .need-title {
  font-size: 0.625rem;
  line-height: 0.78125rem;
  color: #fff;
  font-weight: 500;
}
.need-section .need-title .need-describe {
  color: #e61019;
}
.need-section .need-content-list {
  position: absolute;
  top: 2.5625rem;
  left: 2.34375rem;
  width: 7.1875rem;
  height: 4.21875rem;
}
.need-section .need-content-list .need-item {
  position: absolute;
  font-size: 0.4375rem;
  line-height: 0.4375rem;
  color: #fff;
}
.need-section .need-content-list .need-item.step1 {
  top: 0.59375rem;
  left: 0.5625rem;
}
.need-section .need-content-list .need-item.step2 {
  top: 0.59375rem;
  left: 3.90625rem;
}
.need-section .need-content-list .need-item.step3 {
  top: 1.46875rem;
  left: 0.78125rem;
}
.need-section .need-content-list .need-item.step4 {
  top: 1.5625rem;
  left: 4.625rem;
}
.need-section .need-content-list .need-item.step5 {
  top: 2.34375rem;
  left: 1.65625rem;
}
.need-section .need-content-list .need-item.step6 {
  top: 3.125rem;
  left: 0.71875rem;
}
.need-section .need-content-list .need-item.step7 {
  top: 3.4375rem;
  left: 2.65625rem;
}
.need-section .need-content-list .need-item.step8 {
  top: 2.96875rem;
  left: 5rem;
}
.cultivate-section {
  height: 12.34375rem;
  background-image: url(../img/cultivate-background.png);
  background-size: cover;
  padding-top: 0.59375rem;
}
.cultivate-section .cultivate-title {
  font-size: 0.625rem;
  line-height: 0.78125rem;
  color: #fff;
  text-align: center;
  margin-bottom: 0.625rem;
}
.cultivate-section .cultivate-title span {
  color: #e61019;
}
.cultivate-section .cultivate-content-list {
  font-size: 0;
  margin-left: 0.78125rem;
}
.cultivate-section .cultivate-item {
  margin-bottom: 0.375rem;
}
.cultivate-section .cultivate-item .cultivate-item-prefix {
  display: inline-block;
  width: 1.96875rem;
  height: 0.6875rem;
  background-color: #e61019;
  border-radius: 0.09375rem;
  font-size: 0.390625rem;
  line-height: 0.6875rem;
  color: #000000;
  text-align: center;
  font-weight: 500;
  margin-right: 0.3125rem;
}
.cultivate-section .cultivate-item .cultivate-item-text {
  display: inline-block;
  font-size: 0.390625rem;
  color: #fff;
}
.cultivate-section .cultivate-certificate-list {
  font-size: 0;
  margin-left: 0.25rem;
}
.cultivate-section .cultivate-certificate-list .cultivate-certificate-item {
  display: inline-block;
  margin-right: 0.125rem;
  height: 2.5625rem;
}
.cultivate-section .cultivate-certificate-list .cultivate-certificate-item .cultivate-item-img.step1 {
  width: 1.875rem;
}
.cultivate-section .cultivate-certificate-list .cultivate-certificate-item .cultivate-item-img.step2 {
  width: 1.96875rem;
}
.cultivate-section .cultivate-certificate-list .cultivate-certificate-item .cultivate-item-img.step3 {
  width: 1.8125rem;
}
.cultivate-section .cultivate-certificate-list .cultivate-certificate-item .cultivate-item-img.step4 {
  width: 3.59375rem;
  margin-right: 0;
}
.authorization-section {
  height: 13.125rem;
  background-image: url(../img/authorization.png);
  background-size: cover;
}
.patent-section {
  height: 13.125rem;
  background-image: url(../img/patent.png);
  background-size: cover;
}
.teach-section {
  height: 11.875rem;
  background-image: url(../img/teach-background.png);
  background-size: cover;
  padding-top: 0.46875rem;
}
.teach-section .teach-title {
  font-size: 0.625rem;
  line-height: 0.78125rem;
  color: #fff;
  text-align: center;
}
.teach-section .teach-title span {
  color: #e61019;
}
.teach-section .teach-bannerImg {
  height: 3.28125rem;
  background-image: url(../img/讲师图.png);
  background-size: cover;
  margin-top: 0.5625rem;
  margin-bottom: 0.53125rem;
}
.teach-section .swiper-container {
  width: 7.96875rem;
  height: 5.46875rem;
  font-size: 0;
  padding-right: 0.15625rem;
}
.teach-section .swiper-container .swiper-slide {
  width: 7.96875rem;
  height: 4.5rem;
  border-radius: 0.15625rem;
  background-color: rgba(0, 0, 0, 0.5);
  padding-top: 0.34375rem;
}
.teach-section .swiper-container .teach-slide-head {
  margin-left: 0.40625rem;
}
.teach-section .swiper-container .teach-slide-head .teach-name {
  display: inline-block;
  font-size: 0.859375rem;
  line-height: 0.859375rem;
  color: #fff;
  vertical-align: middle;
}
.teach-section .swiper-container .teach-slide-head .teach-actor-list {
  display: inline-block;
  margin-left: 0.21875rem;
  vertical-align: middle;
}
.teach-section .swiper-container .teach-slide-head .teach-actor-list .teach-actor-item {
  font-size: 0.3125rem;
  color: #e6e6e6;
  width: 4.21875rem;
  white-space: normal;
}
.teach-section .swiper-container .teach-describe {
  margin-left: 0.53125rem;
  margin-top: 0.28125rem;
}
.teach-section .swiper-container .teach-describe .teach-describe-text {
  font-size: 0.3125rem;
  line-height: 0.5rem;
  color: #e6e6e6;
}
.teach-section .swiper-container .swiper-pagination .swiper-pagination-bullet {
  width: 0.1875rem;
  height: 0.1875rem;
  border-radius: 50%;
  border: 0.046875rem solid #ffffff;
}
.teach-section .swiper-container .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #1c1c1c;
}
.publicity-section {
  height: 10rem;
  background-image: url(../img/publicity-background.png);
  background-size: cover;
  position: relative;
  top: -0.03125rem;
  padding-top: 0.625rem;
}
.publicity-section .publicity-title {
  text-align: center;
  font-size: 0.625rem;
  line-height: 0.78125rem;
  color: #fff;
}
.publicity-section .publicity-title span {
  color: #e61019;
}
.publicity-section .publicity-carousel {
  margin-top: 1.0625rem;
}
.publicity-section .publicity-carousel .swiper-container {
  margin: 0 auto;
  width: 8.75rem;
  height: 6.5625rem;
}
.publicity-section .publicity-carousel .swiper-wrapper .swiper-slide img {
  width: 8.75rem;
  height: 4.84375rem;
  border-radius: 0.125rem;
}
.publicity-section .publicity-carousel .swiper-pagination .swiper-pagination-bullet {
  width: 0.1875rem;
  height: 0.1875rem;
  border-radius: 50%;
  border: 0.046875rem solid #ffffff;
}
.publicity-section .publicity-carousel .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #1c1c1c;
}
.consult-section {
  position: relative;
  top: -0.046875rem;
  height: 13.125rem;
  background-color: #1f1f34;
  padding-top: 1.40625rem;
  text-align: center;
}
.consult-section .consult-title {
  font-size: 0.625rem;
  line-height: 0.625rem;
  color: #fff;
  margin-bottom: 0.9375rem;
}
.consult-section .consult-title span {
  color: #e61019;
}
.consult-section .consult-desc {
  font-size: 0.625rem;
  line-height: 0.78125rem;
  color: #fff;
  margin-bottom: 1.09375rem;
}
.consult-section .from-container {
  position: relative;
  display: block;
  width: 9.0625rem;
  margin: 0 auto;
}
.consult-section .from-container .phone-container {
  background: #fff;
  border-radius: 0.15625rem;
  overflow: hidden;
}
.consult-section .from-container .telephone-label {
  position: relative;
  display: block;
  width: 100%;
  line-height: 1.25rem;
  margin: 0 auto;
  color: #616161;
  font-size: 0.4375rem;
}
.consult-section .from-container .telephone-label .telephone-text {
  display: block;
  height: 1.25rem;
  width: 100%;
  padding: 0 3.28125rem 0 0.46875rem;
  border-radius: 0.15625rem;
  border: 0.03125rem solid transparent;
}
.consult-section .from-container .telephone-label.error .error-message {
  display: inline-block;
}
.consult-section .from-container .imgcode-label {
  position: relative;
  height: 1.25rem;
  display: flex;
  align-items: center;
  width: 9.0625rem;
}
.consult-section .from-container .imgcode-label:before {
  content: '';
  height: 1px;
  background: #f1f1f1;
  position: absolute;
  top: 0;
  left: 0.46875rem;
  width: 8.125rem;
}
.consult-section .from-container .imgcode-label .imgcode-input {
  padding: 0 0.46875rem;
  flex: 1;
  width: 5.9375rem;
}
.consult-section .from-container .imgcode-label .imgcode-img {
  flex: none;
  width: 2.65625rem;
  height: 0.78125rem;
  font-size: 0.375rem;
  color: #e72c2b;
  text-align: center;
  border-radius: 0.15625rem;
  margin-right: 0.46875rem;
  background-color: #f1f1f1;
}
.consult-section .from-container .sms-label {
  position: relative;
  height: 1.25rem;
  display: flex;
  align-items: center;
  width: 9.0625rem;
}
.consult-section .from-container .sms-label:before {
  content: '';
  height: 1px;
  background: #f1f1f1;
  position: absolute;
  top: 0;
  left: 0.46875rem;
  width: 8.125rem;
}
.consult-section .from-container .sms-label .sms-code {
  padding: 0 0.46875rem;
  flex: 1;
  width: 5.9375rem;
}
.consult-section .from-container .sms-label .send-code {
  flex: none;
  width: 2.65625rem;
  line-height: 0.78125rem;
  font-size: 0.375rem;
  color: #e72c2b;
  text-align: center;
  border: 0.03125rem solid #e72c2b;
  border-radius: 0.15625rem;
  margin-right: 0.46875rem;
}
.consult-section .from-container .sms-label .send-code.active {
  color: #999;
  background-color: #f1f1f1;
  border-color: #f1f1f1;
}
.consult-section .from-container .submit-label {
  position: relative;
  display: block;
  width: 100%;
  margin: 0.625rem auto 0.46875rem;
}
.consult-section .from-container .submit-label .submit {
  display: block;
  height: 1.484375rem;
  width: 100%;
  line-height: 1.484375rem;
  border-radius: 0.15625rem;
  box-shadow: 0.03125rem 0.03125rem 0.125rem #222222;
  text-align: center;
  color: #fff;
  background-color: #e72c2b;
  font-size: 0.625rem;
}
.consult-section .from-container .error-message {
  display: none;
  position: absolute;
  right: 0.3125rem;
  top: 50%;
  margin-top: -0.234375rem;
  height: 0.46875rem;
  line-height: 0.46875rem;
  color: #e72c2b;
  font-size: 0.375rem;
}
.consult-section .consult-submit .consult-submit-bottom {
  margin-top: 0.625rem;
  margin-bottom: 0.40625rem;
  display: inline-block;
  width: 8.125rem;
  height: 1.25rem;
  background-color: #ff0000;
  font-size: 0.625rem;
  line-height: 1.25rem;
  color: #fff;
  border-radius: 0.125rem;
}
.consult-section .foot-section {
  font-size: 0.3125rem;
  line-height: 0.4375rem;
  color: #d6d6d8;
  font-weight: 500;
}
.consult-section .sms-label {
  position: relative;
  height: 1.25rem;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  width: 9.0625rem;
}
.consult-section .sms-label .sms-code {
  padding: 0 0.46875rem;
  -webkit-box-flex: 1;
  flex: 1;
  width: 5.9375rem;
}
.consult-section .sms-label .send-code {
  -webkit-box-flex: 0;
  flex: none;
  width: 2.65625rem;
  line-height: 0.78125rem;
  font-size: 0.375rem;
  color: #e72c2b;
  text-align: center;
  border: 0.03125rem solid #e72c2b;
  border-radius: 0.15625rem;
  margin-right: 0.46875rem;
}
